.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1058px;
}

.u-section-1 .u-shape-1 {
  width: 906px;
  height: 361px;
  background-image: none;
  margin: 60px 111px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 641px;
  height: 771px;
  object-position: 74.84% 50%;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
  margin: -190px auto 0 1px;
}

.u-section-1 .u-group-1 {
  min-height: 580px;
  width: 570px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -871px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-1 .u-line-1 {
  width: 152px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 89px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  line-height: 1.2;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
  padding: 10px 93px 10px 91px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-right: 34px;
  }

  .u-section-1 .u-line-1 {
    transform-origin: left center;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    object-position: 32.97% 50%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 246px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 650px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -750px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    object-position: 42.61% 50%;
    height: 409px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -509px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 741px;
}

.u-section-2 .u-text-1 {
  margin: 46px -22px 0 22px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}